.buttonAdd {
  height: 2.2rem;
  width: 2.2rem;
  background-color: #1572a1;
  border: 1px solid #1572a1;
  color: #93c6e7;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1rem;
  outline: none;
  height: 2.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Darkmode */

:global(body.dark-mode) .buttonAdd {
  background-color: #000000;
  border: 1px solid #000000;
  box-shadow: #08152570;
  color: #9ba4b5;
}
