.titleBox {
    width: 90%;
    text-align: center;
    padding:2rem 2rem 2rem 2rem;
    background-color: #3674B570;
    border-radius: 8px;
    margin-left:10%;
    box-shadow: 0 4px 6px #08152570;
}

.introContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.introGreeting {
    font-size:1.8rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 4px 6px #00000070;
}

.introButton {
    background-color: #007bff;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.introButton:hover {
    background-color: #0056b3; 
}

.portal {
    font-size:1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #3674B5;
    font-family: "Yrsa", serif;
    text-shadow: 0 4px 6px #00000070;
}

.title {
    font-size:1.8rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #3674B5;
    font-family: "Yrsa", serif;
    text-shadow: 0 4px 6px #00000070;
}

.buttonContainer {
    margin: 1rem;
}

.text {
    font-size:0.9rem;
    letter-spacing: 1px;
    color:#BFCFD9;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    margin:1px 20px 0px 50px;
    text-shadow: 0 4px 6px #00000070;
    text-align: justify;
}

/* Darkmode */

:global(body.dark-mode) .titleBox {
    background-color: #2d3748;
    opacity: 0.8;
    box-shadow: 0 4px 6px #08152570;
}

:global(body.dark-mode) .portal {
    color:#bcccdc;
    text-shadow: 0 4px 6px #00000070;
}

:global(body.dark-mode) .title {
    color:#bcccdc;
    text-shadow: 0 4px 6px #00000070;
}

:global(body.dark-mode) .text {
    color:#bcccdc;
    text-shadow: 0 4px 6px #00000070;
}

.titleBox,
.portal,
.title,
.text {
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}